	.inqbtn {
    position: fixed !important;
    right: 20px !important;
    bottom: 100px !important;
    width: 70px !important;
    height: 70px !important;
    object-fit: contain;
    cursor: pointer;
    z-index: 9999;
	}
	
	/* 챗봇 창 */
	.chatbot-window {
	    position: fixed;
	    right: 30px;
	    bottom: 90px;
	    width: 350px;
	    height: 450px;
	    background-color: #fff;
	    border-radius: 15px;
	    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	    overflow: hidden;
	    /* 처음에는 숨김 */
	    display: none;
	    z-index: 10000;
	}
	
	/* 챗봇 상단 */
	.chatbot-header {
	    display: flex;
	    justify-content: space-between;
	    align-items: center;
	    padding: 15px 20px;
	    background-color: #FF4B32;
	    color: #fff;
	    font-weight: 700;
	}
	
	/* 닫기 버튼 */
	.chatbot-header button {
	    border: none;
	    background: none;
	    color: #fff;
	    font-size: 22px;
	    cursor: pointer;
	}
	
	/* 챗봇 내용 */
	.chatbot-content {
	    padding: 20px;
	    color: #333;
	    font-size: 14px;
	    line-height: 1.6;
	    max-height: 400px;
	    overflow-y: auto;
	}
	
	.chatbot-buttons {
	    display: flex;
	    flex-direction: column;
	    gap: 12px;
	    margin-top: 20px;
	}
	
	.chatbot-option {
	    width: 100%;
	    padding: 12px;
	
	    border: 1px solid #FF4B32;
	    border-radius: 8px;
	
	    background-color: #fff;
	    color: #FF4B32;
	
	    font-size: 15px;
	    font-weight: 600;
	
	    cursor: pointer;
	}
	
	.chatbot-option:hover {
	    background-color: #FF4B32;
	    color: #fff;
	}
	
	.restaurant-image {
	    width: 80px;
	    height: 80px;
	    object-fit: cover;
	    border-radius: 8px;
	}
	
	.restaurant-info {
	    flex: 1;
	}
	
	.restaurant-info h4 {
	    margin: 0 0 6px;
	    font-size: 16px;
	}
	
	.restaurant-info p {
	    margin: 3px 0;
	    font-size: 13px;
	    color: #666;
	}

	.restaurant-card {
		display: flex;
	    gap: 10px;
	    margin: 10px 0;
	    padding: 10px;
	    border: 1px solid #ddd;
	    border-radius: 10px;
	    background-color: #fff;
	    cursor: pointer;
	    transition: transform 0.2s, box-shadow 0.2s;
	}
	
	.restaurant-card:hover {
	    transform: translateY(-2px);
	    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	}
	
	#restaurantList {
	    overflow-x: hidden;
	}
	
	.chatbot-content::-webkit-scrollbar {
    	width: 6px;
	}

	.chatbot-content::-webkit-scrollbar-thumb {
	    background-color: #ccc;
	    border-radius: 10px;
	}

	.chatbot-content::-webkit-scrollbar-track {
	    background-color: #f5f5f5;
	}
	
	.notice-card {
	    margin: 10px 0;
	    padding: 12px;
	    border: 1px solid #ddd;
	    border-radius: 10px;
	    background-color: #fff;
	    cursor: pointer;
	    transition: transform 0.2s, box-shadow 0.2s;
	}
	.notice-card:hover {
	    transform: translateY(-2px);
	    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
	}
	.notice-info h4 {
	    margin: 0;
	    font-size: 13px;
	    font-weight: 600;
	    color: #333;
	}
	
	.guide-message {
    	font-size: 15px;
	    margin-top: 0;
	    margin-bottom: 15px;
	}